@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Arial, sans-serif;

  --accent-color: #fee789;
  --button-color: #fbd86e;
  --outline-color: #ffdc7c;

  --bg-color: #121212;
  --card-color: #1f1f1f;
  --text-color: #f8f8f8;
  --muted-color: #b5b5b5;
  --input-color: #2a2a2a;
}

:root[data-theme="light"] {
  --bg-color: #f4f4f5;
  --card-color: #ffffff;
  --text-color: #18181b;
  --muted-color: #666666;
  --input-color: #eeeeee;
}

:root[data-theme="dark"] {
  --bg-color: #121212;
  --card-color: #1f1f1f;
  --text-color: #f8f8f8;
  --muted-color: #b5b5b5;
  --input-color: #2a2a2a;
}

:root[data-theme="cinema"] {
  --bg-color: #10070a;
  --card-color: #1e0f14;
  --text-color: #fff7ed;
  --muted-color: #d6b7a3;
  --input-color: #2b171d;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

@keyframes floatBlob {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(90px, 70px) scale(1.15);
  }

  100% {
    transform: translate(-60px, 110px) scale(0.95);
  }
}